.home-page {
	background: rgba(82, 148, 240, 1);
	background: -moz-linear-gradient(-45deg, rgba(82, 148, 240, 1) 0%, rgba(12, 245, 179, 1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(82, 148, 240, 1)), color-stop(100%, rgba(12, 245, 179, 1)));
	background: -webkit-linear-gradient(-45deg, rgba(82, 148, 240, 1) 0%, rgba(12, 245, 179, 1) 100%);
	background: -o-linear-gradient(-45deg, rgba(82, 148, 240, 1) 0%, rgba(12, 245, 179, 1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(82, 148, 240, 1) 0%, rgba(12, 245, 179, 1) 100%);
	background: linear-gradient(135deg, rgba(82, 148, 240, 1) 0%, rgba(12, 245, 179, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5294f0', endColorstr='#0cf5b3', GradientType=1);
}

.title-head {
	color: white;
	text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.title-subhead {
	color: white;
	text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.nudge {
	align-content: center;
}

.box-shadow {
	-webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
}

.persona-content {
	margin: 8% 8% 8% 8%;
}

hr {
	width: 97%;
	border-top: 1px solid #96E6B3;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

h1 {
	color: #111;
	font-family: 'Oswald', sans-serif;
	font-size: 3em;
	font-weight: bold;
	letter-spacing: -1px;
}

h2 {
	margin-left: 2%;
	color: #464E47;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 300;

}

h3 {
	color: #568259;
	font-family: 'Oswald', sans-serif;
	font-size: 24px;

}

p {
	color: #464E47;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	text-justify: inter-word;
}

ol {
	color: #464E47;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	text-justify: inter-word;
}

li {
	color: #464E47;
	font-family: 'Inconsolata', monospace;
	font-size: 16px;
	text-justify: inter-word;
}

table {
	width: 100%;
	color: #96E6B3;
	margin: auto;
	border-radius: 10%;
	-webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
	-moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
	box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.37);
}

table td,
table th {
	background-color: #333;
	padding: 10px;
}

th {
	font-family: 'Oswald', sans-serif;
}

td {
	font-family: 'Inconsolata', monospace;
}

.left-column {
	font-family: 'Oswald', sans-serif;

}